<div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Fetch Phrases</h2>
      </div>
    </div>
    <hr>  
    <div class="row text-center">
      <label class="error">
      </label>
    </div>
    <% if @phrases %>
      <div class="row text-center">
        <label class="control-label col-sm-3" for="pwd"><strong>Title</strong></label>
        <div class="col-sm-9">          
          <label class="control-label"><strong>Description</strong></label>
        </div>
      </div>

      <div class="row text-center" id="more-phrase" data-ids="<%= @dataexclude %>">
        <% @phrases.each do |phrase| %>
          <div class="col-sm-3"><%= phrase.title %></div>
          <div class="col-sm-9"><%= phrase.description%></div>
        <% end %> 
      </div>
      <br>
      <div class="row text-center">
        <div class="btn btn-primary" id= 'load_phrase'>
            <%= "Load #{@total_phrases} more"%>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-sm-12"><strong>No record found</strong></div>
      </div> 
    <% end %>
  </div>
<div class="col-md-3"></div>